@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  height: 500px;
  width: 700px;
  background-color: #eaeaea;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 750px) {
    width: 300px;
  }

  .header-spacer {
    flex: 1 1 auto;
  }

  h1 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
  }

  form {
    height: calc(100% - 64px);
  }
}
