@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-container {
  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #fff;
  }

  div {
    height: calc(100vh - 64px);

    a {
      z-index: 0;
    }
  }
}
